@import '../utilities/variables';

.home-page-event {
  font-family: $font-family-poppins;
  position: relative;
  width: calc(100% + rem(320));
  margin: rem(300) 0 rem(50) rem(-160);
  padding-bottom: rem(1000);
}

.home-event-dots {
  position: absolute;
  top: 38%;
  left: -10%;
  z-index: -1;
}

.home-event-items-container {
  display: flex;
  justify-content: space-between;
  position: absolute;
  right: 0;
  top: 0;
  padding: 0 rem(160);
  width: 90%;
}

.home-event-text {
  width: rem(581.57);
  margin-top: rem(143.32);

  p {
    font-size: rem(14);
    line-height: rem(26);
    letter-spacing: rem(0.35);
    font-weight: 400;
    color: $color-gunmetal;
    margin: rem(50) 0 rem(30) 0;
  }

  .home-event-president {
    display: flex;
    align-items: center;
    gap: rem(20);

    .home-event-president-text {
      display: flex;
      justify-content: center;
      flex-direction: column;
      h2 {
        font-size: rem(13);
        color: $color-midnight-blue;
        letter-spacing: rem(0.3);
        font-weight: 500;
        line-height: rem(13);
      }

      span {
        color: rgba(#2c3a4b, 0.5);
        font-size: rem(12);
        color: $color-midnight-blue;
        letter-spacing: rem(0.5);
        font-weight: 400;
        line-height: rem(12);
      }
    }
  }
}

.home-event-images {
  width: rem(551.25);
  height: rem(895.66);
  background-size: cover;
  position: relative;

  .home-event-circle {
    position: absolute;
    top: 0;
    left: -15.5%;
  }

  .home-event-buy-ticket {
    right: -29%;
    bottom: 7.5%;
  }
}
