@import '../utilities/variables';

.home-benefits {
  display: flex;
  justify-content: space-between;
  margin: rem(80) 0 rem(200) 0;
}

.home-benefits-list {
  width: 51%;

  li {
    width: 100%;
    border-bottom: rem(1) solid rgba($color-gunmetal, 0.2);
    padding-bottom: rem(58);
    margin-bottom: rem(70);

    &:last-of-type {
      border-bottom: none;
      margin-bottom: 0;
      padding-bottom: 0;
    }

    .benefit-title {
      display: flex;
      align-items: center;
      gap: rem(50);

      h3 {
        margin: 0;
        font-size: rem(40);
        font-weight: 400;
        line-height: rem(70);
        letter-spacing: rem(0.83);
        color: $color-midnight-blue;
      }

      span {
        opacity: 34%;
        font-size: rem(25);
        font-weight: 600;
        line-height: rem(35);
        align-self: baseline;
        margin-top: rem(20);
      }
    }

    .benefit-read-more {
      opacity: 50%;
      font-size: rem(14);
      font-weight: 400;
      line-height: rem(23);
      letter-spacing: rem(0.5);
      text-decoration: underline;
      margin-left: rem(-1);
    }
  }
}

.home-benefits-text {
  width: rem(512);

  p {
    margin: rem(100) 0 0 0;
    font-size: rem(16);
    font-weight: 400;
    line-height: rem(26);
    letter-spacing: rem(0.35);
  }
}

.benefit-title span,
.benefit-read-more,
.home-benefits-text p {
  color: $color-gunmetal !important;
}
