@import '../utilities/variables';

.president {
  .president-section {
    display: flex;
    position: relative;
    justify-content: space-between;

    .president-images {
      display: flex;
      flex-direction: column;

      .president-image {
        z-index: 2;
      }

      .president-dots {
        position: absolute;
        left: rem(-160);
        bottom: 0.5%;
        z-index: 1;
      }
    }

    .president-text {
      width: 74%;
      z-index: 3;

      h3 {
        font-weight: 600;
        font-size: rem(24);
        line-height: rem(32);
        color: $color-orange;
        margin-bottom: 0;
      }

      p {
        margin-bottom: 0;
        margin-top: rem(90);
        font-weight: 400;
        font-size: rem(16);
        line-height: rem(26);
        letter-spacing: rem(0.35);
        color: $color-gunmetal;
      }
    }
  }
}
